3 - Conhecendo a Linguagem de Programação Java/2 - Aprendendo a Sintaxe Java/java-anatomia-classes/.vscode/settings.json
3 - Conhecendo a Linguagem de Programação Java/2 - Aprendendo a Sintaxe Java/java-tipos-variaveis/.vscode/settings.json
