version: '3.8'

services:
            db:
                image: mongo
                container_name: db
                restart: always
                environment:
                    - MONGO_INITDB_ROOT_USERNAME=ana
                    - MONGO_INITDB_ROOT_PASSWORD=1234
                ports:
                    - "27017:27017"
                volumes:
                    - /home/ana/Documentos/dbdata:/data/db
